.HomePage {
    background-image: url('../../assets/uno-backgrounds.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .content{

        .Title{

        }
        .Textbox{
    
        }
        .Text{

        }
        .Button{
            
        }
    }
  }